# virtual enviroment
.venv/

# vscode settings
.vscode/

# python cache
__pycache__/
*.pyc
*.pyo

.pytest_cache/


# my personal api keys
.env

# raw data (there's a lot of jsons). not interesting
data/raw/